<script type="text/javascript" charset="utf-8">
    $(function() {
        $("img.lazy").lazyload();
        $('.carousel').carousel({
          interval: 15000
        });
    });

  $(document).ready(function(){
    galleryClicks();
  });
  
  var galleryClicks = function(){
    var carouselItems = $("#myCarousel .item");
  
    $('.concert-thumbnail').each(function(i, ele){
    
      $(this).click(function(){
        $(carouselItems).removeClass("active");

        $(carouselItems[i]).addClass("active");
      
      });
    
    });
  };
  
</script>
<%- title "Instalympics - #{@event.name} - #{@event.details} - #{Time.at(@event.min_timestamp).strftime("%B %d, %Y")}" %>
  <div class="header">
    <h2><%= link_to "< #{@event.name}", "/eventgroups/"+ @event.eventgroup_id.to_s %></h2>    
  </div>
  
  <div class="subheader">
    <%= @event.details %> | 
    <%= Time.at(@event.min_timestamp).strftime("%B %d, %Y") %> |
    <%= Time.at(@event.min_timestamp).strftime("%l:%M %p") + " - " + Time.at(@event.max_timestamp).strftime("%l:%M %p %Z")  %>
  </div>

  <br>
  <ul>
    <div id="images">
      <%= render @images %>

    </div>

  </ul>

  <div class="modal hide" id="myModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3><%= @event.name %></h3>
    </div>

    <div class="modal-body">
      <!-- Image carousel -->
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @images.order('img_time DESC').each_with_index do |image, index| %>
              <div class="item">
                <%= link_to(image_tag(image.img_standard_url), "#") %>
                <div class="carousel-caption">
                  <h4><i>@<%="#{image.photographer}" %></i>: <%= "#{image.caption_text}"%></h4>
                  <%= link_to( (image.event.name+" | "+ image.event.details), events_path+'/'+image.event.id.to_s ) %><br/> <%=image.event.venue_name%><br/><%= link_to("#{Time.at(image.img_time).strftime("%B %d, %Y")} | #{Time.at(image.img_time).strftime("%l:%M %p")}", image.instagram_link_url) %>
                </div>
              </div>
            <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>    
    </div>
  </div>  



</div>