<% require 'json' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>

  <ul>
  
  <% @event.images.each do |i| %>
    <li><img src="<%= i.img_standard_url %>"></img></li>
  <% end %>
    
  </ul>
  
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
