<%= form_for(@event_request) do |f| %>
  <% if @event_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_request.errors.count, "error") %> prohibited this event_request from being saved:</h2>

      <ul>
      <% @event_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :min_timestamp %><br />
    <%= f.number_field :min_timestamp %>
  </div>
  <div class="field">
    <%= f.label :max_timestamp %><br />
    <%= f.number_field :max_timestamp %>
  </div>
  <div class="field">
    <%= f.label :distance %><br />
    <%= f.number_field :distance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
