<h1>Listing event_requests</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Long</th>
    <th>Min timestamp</th>
    <th>Max timestamp</th>
    <th>Distance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_requests.each do |event_request| %>
  <tr>
    <td><%= event_request.lat %></td>
    <td><%= event_request.long %></td>
    <td><%= event_request.min_timestamp %></td>
    <td><%= event_request.max_timestamp %></td>
    <td><%= event_request.distance %></td>
    <td><%= link_to 'Show', event_request %></td>
    <td><%= link_to 'Edit', edit_event_request_path(event_request) %></td>
    <td><%= link_to 'Destroy', event_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event request', new_event_request_path %>
