<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @event_request.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @event_request.long %>
</p>

<p>
  <b>Min timestamp:</b>
  <%= @event_request.min_timestamp %>
</p>

<p>
  <b>Max timestamp:</b>
  <%= @event_request.max_timestamp %>
</p>

<p>
  <b>Distance:</b>
  <%= @event_request.distance %>
</p>


<%= link_to 'Edit', edit_event_request_path(@event_request) %> |
<%= link_to 'Back', event_requests_path %>
