<!DOCTYPE html>
<html>
<head>
  <title>Instalympics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>
<body>
  
  
<div class="wrapper">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="pull-left">
          <a class="brand" href="/">
            INSTALYMPICS
          </a>
        </div>
        <div class="pull-left">
          
          <ul class="nav nav-pills">
            <!-- <li class="active"><a href="#">Regular link</a></li> -->
            
            
            <!-- AQUATIC -->
            <li class="dropdown" id="menu1">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                    Aquatic
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                    <li><a href="#">Canoe</a></li>
                    <li><a href="#">Diving</a></li>
                    <li><a href="#">Marathon Swimming</a></li>
                    <li><a href="#">Rowing</a></li>
                    <li><a href="#">Sailing</a></li>
                    <li><a href="#">Swimming</a></li>        
                    <li><a href="#">Synchronized Swimming</a></li>
                    <li><a href="#">Water Polo</a></li>                
              </ul>
            </li>
            
            <!-- ATHLETICS -->
            <li class="dropdown" id="menu2">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
                    Athletics
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                    <li><a href="#">Athletics</a></li>
                    <li><a href="/eventgroups/2">Gymnastics</a></li>
                    <li><a href="#">Modern Pentathalon</a></li>
                    <li><a href="#">Triathlon</a></li>
              </ul>
            </li>
            
            <!-- BALL -->
            <li class="dropdown" id="menu3">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3">
                    Ball
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">

                    <li><a href="#">Basketball</a></li>
                    <li><a href="#">Beach Volleyball</a></li>
                    <li><a href="/eventgroups/1">Football</a></li>
                    <li><a href="#">Handball</a></li>
                    <li><a href="#">Table Tennis</a></li>                    
                    <li><a href="#">Tennis</a></li>
                    <li><a href="#">Volleyball</a></li>
                    
              </ul>
            </li>  
            
            <!-- OTHER -->
            <li class="dropdown" id="menu4">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu4">
                    Other
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                    <li><a href="#">Archery</a></li>
                    <li><a href="#">Badminton</a></li>
                    <li><a href="#">Hockey</a></li>                    
                    <li><a href="#">Shooting</a></li>    
                    <li><a href="#">Weightlifting</a></li>                  
              </ul>
            </li>
            
            <!-- RIDING -->
            <li class="dropdown" id="menu5">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu5">
                    Riding
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                    <li><a href="#">Cycling</a></li>
                    <li><a href="#">Equestrian</a></li>
              </ul>
            </li>

            <!-- VERSUS-->
            <li class="dropdown" id="menu6">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu6">
                    Versus
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                    <li><a href="#">Boxing</a></li>
                    <li><a href="#">Fencing</a></li>
                    <li><a href="#">Judo</a></li>
                    <li><a href="#">Taekwondo</a></li>                   
                    <li><a href="#">Wrestling</a></li>                                        
              </ul>
            </li>
            
          </ul>
            
              
        </div>
      </div>
    </div>
  </div>
  
  <div class="container main-container">

    
    <%= yield %>
  
  </div>
</div>
<div class="footer">
  <div class="footer-container">
    <hr>
  Built by <%= link_to "@pummer", "https://twitter.com/pummer" %> 
  <%= link_to "@rolyperez", "https://twitter.com/rolyperez" %> 
  <%= link_to "@tjarmain", "https://twitter.com/tjarmain" %> 
  <%= link_to "@SeanKienzle", "https://twitter.com/SeanKienzle" %>
   at <%= link_to "@CodeAcademy", "https://twitter.com/CodeAcademy" %>
   during <%= link_to "#caHack", "https://twitter.com/i/#!/search/%23cahack?q=%23cahack" %>
   July 2012 at <%= link_to "@1871Chicago", "https://twitter.com/1871Chicago" %>
  </div>
</div>

</body>
</html>